
    html, body {
      height: 100%; 
      margin: 0;    
      padding: 0;
      background-color: #f5f5f5; 
      font-size: 15px;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Fira Sans", serif;
      font-style: normal;
    }

    h1,h2,h3,h4,h5,p {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    .container {
      max-width: 1440px;
      width: 100%;
      padding: 1.5rem;
      margin: 0 auto;
    }

    // HEADER

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(90.66deg, #3CB9A0 0.57%, #1786AC 99.43%);;
        box-shadow: 0 0 10px #ccc;
        color: white;
        padding: 1.5rem 1rem;
        position: relative;
        overflow: hidden;
      }
      
      .logo {
          display: flex;
          align-items: center;
          gap: 1rem;
  
          img {
              width: 50px;
              height: 50px;
              animation: rotate 5s linear infinite;
          }
          
          h2 {
              margin: 0;
              font-size: 1.8rem;
              font-weight: bold;
              text-shadow: 2px 2px 4px #ccc;
          }
      }
      
      /* Анімація логотипа */
      @keyframes rotate {
          0% {
          transform: rotate(0deg);
          }
          100% {
          transform: rotate(360deg);
          }
      }
  

    // REVIEWS

    .review {
      background: #fff;
      border-radius: 8px;
      padding: 2rem;

      &+& {
        margin-top: 2rem;
          
      }

      &-title {
        font-size: 1.2rem;

        @media screen and (min-width:992px) {
          font-size: 1.333rem;
        }
      }

      &-btn {
        border-radius: 8px;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 11px 22px;
        color: #394155;
        border: 1px solid transparent;
        width: 100%;
        text-align: center;

        &-gradient {
          background: linear-gradient(90.66deg, #3CB9A0 0.57%, #1786AC 99.43%);
          border-color: transparent;
          color:#fff;
        }
        
        background: 
          linear-gradient(white, white) padding-box, 
          linear-gradient(90deg, #AACEDB 0%, #BEE2E0 100%) border-box, 
          linear-gradient(90deg, #E6F7F5 0%, #F8FCFC 100%);
          transition: background 0.3s linear, border-color 0.3s linear;
      
        &:hover {
          background: linear-gradient(90.66deg, #3CB9A0 0.57%, #1786AC 99.43%);
          border-color: transparent;
          color:#fff;
        }

        @media screen and (min-width:992px) {
          width: auto;
        }
      }
        
      
    }

    .rating {
      margin-top: 1.2rem;
      @media screen and (min-width:992px) {
          margin-top: 0;
      }

      &-text {
          font-size: 1.6rem;
          margin-right: 1.333rem;
          
          @media screen and (min-width:992px) {
              font-size: 2.4rem;
          }
        
      }

      &-star {
        font-size: 1.5rem;

        &+& {
          margin-left: 0.4rem;
        }
      }

      &-stars {
          color: #ffc107;
      }

      &-star {
        &-full {
          color: #ffc107 !important;
        }

        &-half {
          color: #ffc107 !important;
        }

        &-empty {
          color: #d3d3d3 !important;
        }
      }

      &-counts {
          font-size: 1rem;
          color:#798595
      }
    }

    .btn {
      &-back {
        font-size: 1rem;
        color: #394155;
        font-weight: 700;
        padding: 0.6rem;
        background:  linear-gradient(white, white) padding-box, 
        linear-gradient(90deg, #AACEDB 0%, #BEE2E0 100%) border-box, 
        linear-gradient(90deg, #E6F7F5 0%, #F8FCFC 100%);
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
        transition: all .2s linear;
  
        &:hover {
            box-shadow: 0 0 20px #ccc;
        }
      }

      &-language {
        background: none;
        font-weight: 700;
        color: #394155;
        font-size: 2rem;
        border: 0;
        outline: 0;
        &.active {
          color:#fff;
        }
      }
    }
    // LOADER

    .lds {
        &-roller {
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 80px;
      
          div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 40px 40px;
      
            &:after {
              content: " ";
              display: block;
              position: absolute;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background: #79c56e;
              margin: -4px 0 0 -4px;
            }
          }
      
          @for $i from 1 through 8 {
            div:nth-child(#{$i}) {
              animation-delay: -#{($i - 1) * 0.036}s;
      
              &:after {
                @if $i == 1 { top: 63px; left: 63px; }
                @else if $i == 2 { top: 68px; left: 56px; }
                @else if $i == 3 { top: 71px; left: 48px; }
                @else if $i == 4 { top: 72px; left: 40px; }
                @else if $i == 5 { top: 71px; left: 32px; }
                @else if $i == 6 { top: 68px; left: 24px; }
                @else if $i == 7 { top: 63px; left: 17px; }
                @else if $i == 8 { top: 56px; left: 12px; }
              }
            }
          }
        }
    }

   
      
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }